<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>

  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter,
Common.Logging.Log4Net">
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>

  <log4net>
    <!-- A1 is set to be a ConsoleAppender -->
    <appender name="A1" type="log4net.Appender.FileAppender">

      <!-- A1 uses PatternLayout -->
      <file value="IvrsLineChecker.log"/>
      <appendToFile value="true"/>


      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline"/>
      </layout>
    </appender>

    <!-- Set root logger level to DEBUG and its only appender to A1 -->
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="A1"/>
    </root>
  </log4net>
  
  <appSettings>
    <add key="OutgoingChannels" value="2"/>
    <add key="CronString" value="0 0/1 * * * ?"/>
    <!--time between consequent item verifications (e. g. if line was busy) in sec-->
    <add key="TimeSpan" value="100"/>
    <!--time window between verification sessions (to define if we should start a new session) in sec-->
    <add key="TimeSpanBetweenVerifications" value="20"/>
    <add key="AttemptsMaxNumber" value="1"/>
    <add key="ApplicationDataPath" value=""/>
    <add key="CommonRecipientEmailAddresses" value="noname@software.com"/>
  </appSettings>

  <connectionStrings>
    <add name="Cron" connectionString="DATA SOURCE=PS;USER ID=UID;PASSWORD="/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
